.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  padding-right: 7px;
  padding-left: 4px;
  box-sizing: border-box;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: #81b3d2;
}

.copyright__link:active path {
  fill: #000000;
  fill-opacity: 0.3;
}
