.copyright__link:hover path,
.copyright__link:focus path {
  fill: #81b3d2;
}

.copyright__link:active path {
  fill: #000000;
  fill-opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright__title {
    margin-right: 11px;
  }
}
