.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 27px;
  padding-right: 36px;
  padding-left: 36px;
  line-height: 21px;
  text-align: center;
  box-sizing: border-box;

  &--picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
    color: #ffffff;
    background-color: #81b3d2;
    box-sizing: border-box;
  }

  &--sub {
    padding-top: 35px;
    padding-right: 41px;
    padding-bottom: 9px;
    padding-left: 70px;
  }

  &--background {
    background-color: #eeeeee;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--picture {
    color: #ffffff;
  }
}

.features__text {
  margin-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.features__description {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 27px;
  border-bottom: 1px solid #d6d6d6;

  &--border {
    border: 0;
  }

  &--picture {
    padding-top: 15px;
    padding-bottom: 0;
    border: 0;
  }

  &--picture br {
    display: none;
  }
}

.features__description br {
  display: none;
}

.features__image-wrapper {
  order: 2;
  margin: 0;
}

.features__image {
  display: block;
}

.features__sub-list {
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #ffffff;
  list-style: none;
}

.features__sub-item {
  line-height: 21px;
}

.features__sub-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.features__sub-description {
  margin: 0;
  padding-bottom: 28px;
}

.features__sub-description br {
  display: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: @tablet-width) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    width: 256px;
    padding-top: 45px;
    padding-right: 49px;
    padding-left: 49px;
    box-sizing: border-box;

    &--picture {
      flex-direction: row;
      width: @tablet-width;
      padding: 0;
    }

    &--sub {
      width: @tablet-width;
      padding: 0;
    }
  }

  .features__text {
    width: 256px;
    margin: 0;
    padding: 43px 47px;
    box-sizing: border-box;
  }

  .features__title {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 6px;
    font-size: 21px;
  }

  .features__description {
    padding-top: 21px;
    padding-bottom: 44px;
    border: 0;

    &--picture {
      padding-bottom: 0;
    }
  }

  .features__description br {
    display: inline;
  }

  .features__description--picture br {
    display: none;
  }

  .features__image-wrapper {
    order: 0;

    &--order {
      order: 2;
    }
  }

  .features__sub-list {
    display: flex;
    flex-direction: row;
    width: @tablet-width;
  }

  .features__sub-item {
    width: 256px;
    padding-top: 159px;
    padding-right: 49px;
    padding-bottom: 61px;
    padding-left: 49px;
    text-align: center;
    box-sizing: border-box;

    &--soovenirs {
      order: 1;
      padding-right: 47px;
      padding-left: 47px;
    }
  }

  .features__sub-title {
    margin-bottom: 21px;
    font-size: 21px;
  }

  .features__sub-description {
    padding: 0;
  }

  .features__sub-description br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    width: 400px;

    &--picture {
      width: @desktop-width;
    }
  }

  .features__title {
    margin-right: 75px;
    margin-left: 75px;

    &--picture {
      margin-right: 57px;
      margin-left: 58px;
    }
  }

  .features__text {
    width: 400px;
    padding-top: 50px;
    padding-right: 67px;
    padding-bottom: 56px;
    padding-left: 67px;
    box-sizing: border-box;
  }

  .features__description {
    padding-bottom: 65px;

    &--picture {
      padding-bottom: 0;
    }

    &--picture br {
      display: inline;
    }
  }

  .features__image-wrapper {
    height: 256px;
  }

  .features__sub-list {
    width: @desktop-width;
  }

  .features__sub-item {
    width: 400px;
    padding-right: 56px;
    padding-bottom: 82px;
    padding-left: 56px;
  }
}
