.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  line-height: 21px;
  text-align: center;
  
  &--picture {
    color: #ffffff;
    background-color: #81b3d2;
  }
  
  &--background {
    background-color: #eeeeee;
  }
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  
  &--picture {
    color: #ffffff;
  }
}

.features__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__sub-item {
  line-height: 21px;
}

.features__sub-title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
