.feedback__wrapper {
  padding-top: 18px;
  padding-bottom: 5px;
  border-top: 1px solid #e5e5e5;

  &--contacts {
    padding-bottom: 16px;
  }

  &--impression {
    padding-bottom: 20px;
  }

  &--lions {
    padding-bottom: 7px;
  }

  &--emotions {
    padding-bottom: 3px;
  }
}

.feedback__element {
  margin: 0;
  padding: 0 20px;
  border: none;
  box-sizing: border-box;
}

.feedback__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__name {
  margin-right: 0;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  &--contacts {
    margin-bottom: 20px;
  }

  &--impression {
    margin-bottom: 17px;
  }

  &--lions {
    margin-bottom: 11px;
  }

  &--emotions {
    margin-bottom: 17px;
  }
}

.feedback__name-element {
  display: inline-block;
  width: 280px;
}

.feedback__item {
  margin-bottom: 4px;
  padding-top: 20px;
  padding-bottom: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  &--lions {
    margin-bottom: 15px;
  }
}

.feedback__label {
  margin-right: 15px;

  &--contacts {
    position: relative;
    margin-right: 19px;
    margin-left: 21px;
    margin-bottom: 7px;
  }
}

.feedback__label sup {
  top: -0.1em;
  font-size: 90%;
}

.feedback__field {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 26px;
  box-sizing: border-box;

  &--contacts {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 12px;
  }

  &--emotions {
    margin-bottom: 0;
  }
}

.feedback__field-icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.feedback__option-label {
  position: relative;
  padding-left: 80px;
  color: #000000;
  cursor: pointer;
}

.feedback__option-label--radio::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

input[type="radio"]:checked + .feedback__option-label--radio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}

.feedback__option-label--box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

input[type="checkbox"]:checked + .feedback__option-label--box::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 56px;
  height: 56px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__option-label--radio:hover::before,
input[type="radio"]:focus + .feedback__option-label--radio::before,
.feedback__option-label--box:hover::before ,
input[type="checkbox"]:focus + .feedback__option-label--box::before{
  background-color: #e5e5e5;
}

input[type="radio"]:active + .feedback__option-label--radio::before,
input[type="checkbox"]:active + .feedback__option-label--box::before {
  background-color: #d5d5d5;
}

input[type="radio"]:checked:active + .feedback__option-label--radio::after,
input[type="checkbox"]:checked:active + .feedback__option-label--box::after {
  opacity: 0.3;
}

.feedback__send {
  width: 100%;
  padding-top: 47px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}

.feedback__button {
  padding: 16px 47px;
}

.feedback__legend {
  display: none;
  margin: 0;
}

.feedback__modal {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback__form {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback__wrapper {
    border: none;

    &--contacts {
      padding-bottom: 12px;
    }

    &--impression {
      order: -2;
      padding-bottom: 36px;
    }

    &--lions {
      padding-bottom: 23px;
    }

    &--emotions {
      padding-top: 19px;
      padding-bottom: 3px;
    }
  }

  .feedback__element {
    width: @tablet-width;
    padding: 0 60px;

    &--introducing {
      width: 384px;
      padding-left: 58px;
    }

    &--impression {
      width: 384px;
      padding-right: 0;
      border-right: 1px solid #dbdbdb;
    }
  }

  .feedback__name {
    position: relative;
    font-size: 21px;
    width: 100%;
    margin-bottom: 57px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--contacts {
      margin-bottom: 24px;
    }

    &--impression {
      margin-bottom: 53px;
    }

    &--lions {
      margin-bottom: 36px;
    }

    &--alignment {
      text-align: left;
    }

    &--alignment::before {
      content: none;
    }
  }

  .feedback__name-element {
    position: relative;
    display: inline-block;
    width: 400px;
    background-color: #ffffff;
    text-align: center;

    &--alignment {
      width: auto;
      text-align: left;
    }
  }

  .feedback__options {
    &--lions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 60px;
    }
  }

  .feedback__option-label--radio {
    padding-left: 76px;
  }

  .feedback__item {
    margin-bottom: 13px;
    padding-top: 20px;
    padding-bottom: 19px;

    &--lions {
      width: 259px;
      margin-bottom: 23px;
    }

    &--slide-park {
      order: 1;
    }

    &--red-rocks {
      order: 2;
    }
  }

  .feedback__field {
    &--contacts {
      margin-bottom: 23px;
    }
  }

  .feedback__legend {
    display: block;
    padding-top: 2px;
  }

  .feedback__legend sup {
    top: -0.1em;
    font-size: 90%;
  }

  .feedback__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-right: 60px;
    padding-bottom: 63px;
    padding-left: 60px;
  }

  .feedback__button {
    padding-right: 75px;
    padding-left: 64px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    &--contacts {
      padding-bottom: 12px;
    }

    &--impression {
      padding-bottom: 34px;
    }

    &--lions {
      padding-bottom: 22px;
    }

    &--emotions {
      padding-top: 18px;
      padding-bottom: 3px;
    }
  }

  .feedback__container {
    display: flex;
  }

  .feedback__element {
    width: @desktop-width;
    padding: 0 120px;

    &--introducing {
      width: 600px;
      padding-left: 80px;
    }

    &--impression {
      width: 600px;
      padding-right: 80px;
    }

    &--alignment {
      text-align: left;
    }
  }

  .feedback__name {
    &--contacts {
      margin-bottom: 74px;
    }

    &--lions {
      margin-bottom: 36px;
    }

    &--impression {
      margin-left: 80px;
    }
  }

  .feedback__item {
    &--lions {
      width: auto;
    }
  }

  .feedback__field {
    &--contacts {
      flex-direction: row;
      align-items: baseline;
      width: 480px;
    }
  }

  .feedback__label {
    &--contacts {
      margin-left: 0;
    }
  }

  .feedback__label span {
    display: none;
  }

  .feedback__options {
    &--lions {
      justify-content: space-between;
      padding-left: 0;
    }
  }

  input[type="radio"] + .feedback__option-label--radio {
    left: 4px;
  }

  .feedback__send {
    padding-top: 55px;
    padding-right: 120px;
    padding-bottom: 67px;
    padding-left: 120px;
  }

  .feedback__button {
    padding-right: 149px;
    padding-left: 148px;
  }
}
