.feedback__element {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.feedback__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.feedback__field {
  line-height: 26px;
}

.feedback__modal {
  text-align: center;
}
