.field {
  flex-basis: 100%;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;
  font: inherit;
  font-weight: bold;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  resize: none;

  &::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    padding-top: 14px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 18px;
    background-color: transparent;
    border: 4px solid #e5e5e5;
  }

  &--tel,
  &--email {
    padding-right: 58px;
  }
}

@media (min-width: @desktop-width) {
  .field {
    box-sizing: border-box;

    &--tel {
      flex-basis: 315px;
      margin-right: 80px;
    }

    &--email {
      flex-basis: 315px;
    }
  }
}
