.modal {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%);

  &--success {
    display: none;
    width: 320px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.1);
  }

  &--unsuccess {
    display: none;
    width: 320px;
    padding-top: 39px;
    padding-right: 55px;
    padding-bottom: 35px;
    padding-left: 55px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.1);
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.modal__description {
  margin: 0;
}

.modal__wrapper-1 {
  padding-top: 43px;
  padding-right: 51px;
  padding-bottom: 35px;
  padding-left: 51px;
}

.modal__wrapper-2 {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.modal__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;

  &--unsuccess {
    width: 180px;
    margin-top: 23px;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    &--success {
      width: 640px;
      background-color: #ffffff;
    }

    &--unsuccess {
      width: 400px;
      padding-top: 60px;
      padding-right: 60px;
      padding-bottom: 49px;
      padding-left: 60px;
      background-color: #ffffff;
    }
  }

  .modal__title {
    margin-right: 32px;
    margin-bottom: 24px;
    margin-left: 32px;
    font-size: 30px;
    line-height: 38px;
  }

  .modal__description {
    padding-right: 0;
    padding-left: 0;
  }

  .modal__wrapper-1 {
    padding-top: 55px;
    padding-right: 112px;
    padding-bottom: 35px;
    padding-left: 112px;
  }

  .modal__wrapper-2 {
    padding: 44px 91px;
  }

  .modal__button {
    font-size: 21px;

    &--unsuccess {
      width: 272px;
      margin-top: 34px;
    }
  }
}
