.page-main {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.page-main__background {
  padding: 0 20px;
  min-height: 389px;
  background-color: #2a3e45;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &--mini {
    min-height: 158px;
  }
}

.page-main__wrapper {
  padding-top: 38px;
  padding-right: 24px;
  padding-bottom: 42px;
  padding-left: 24px;
  box-sizing: border-box;

  &--photo {
    padding-bottom: 27px;
  }

  &--form {
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
  }
}

.page-main__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-main__description {
  margin: 0;
  text-align: center;
}

.page-main__photo {
  border-top: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin: 0 auto;
    width: @tablet-width;
  }

  .page-main__background {
    padding: 0 60px;
    min-height: 518px;

    &--mini {
      min-height: 290px;
    }
  }

  .page-main__wrapper {
    padding-top: 48px;
    padding-right: 141px;
    padding-bottom: 49px;
    padding-left: 141px;
  }

  .page-main__title {
    margin-bottom: 30px;
    font-size: 21px;

    &--photo {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .page-main__photo {
    padding: 0 60px;
    border: 0;
  }

  .page-main__video {
    padding: 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: @desktop-width;
  }

  .page-main__background {
    &--mini {
      min-height: 301px;
    }
  }

  .page-main__wrapper {
    padding-right: 357px;
    padding-left: 357px;

    &--photo {
      padding-top: 106px;
      padding-right: 386px;
      padding-bottom: 71px;
      padding-left: 386px;
    }
  }

  .page-main__title {
    margin-top: 0;
    margin-bottom: 30px;

    &--photo {
      margin-bottom: 28px;
    }
  }

  .page-main__photo {
    padding: 0;
  }

  .page-main__video {
    padding: 0 200px;
  }
}
