.page-footer {
  padding: 0 20px;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.page-footer__tag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-footer__social {
  text-align: center;
}

.page-footer__copyright {
  line-height: 26px;
  text-align: center;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }
}
