.page-main__background {
  min-height: 389px;
  background-color: #2a3e45;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  
  &--mini {
    min-height: 158px;
    background-position: 0 -231px;
  }
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-main__description {
  text-align: center;
}
