.page-footer__tag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-footer__social {
  text-align: center;
}

.page-footer__copyright {
  line-height: 26px;
  text-align: center;
  color: #000000;
}
