.search-hotels {
  padding-bottom: 10px;
  background-color: #ffffff;
}

.search-hotels__text {
  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.search-hotels__slogan {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search-hotels__info {
  margin-top: 18px;
  margin-bottom: 0;
}

.search-hotels__info br {
  display: none;
}

.search-hotels__button {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-hotels__map-wrapper {
  position: relative;
  padding: 0;
  height: 350px;
  background-color: lightgreen;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.search-hotels__map-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .search-hotels {
    padding-bottom: 0;
  }

  .search-hotels__text {
    padding-top: 50px;
    padding-right: 155px;
    padding-left: 155px;
  }

  .search-hotels__slogan {
    font-size: 30px;
    line-height: 36px;
  }

  .search-hotels__info {
    margin-top: 26px;
  }

  .search-hotels__info br {
    display: inline;
  }

  .search-hotels__button {
    margin-top: 42px;
    margin-bottom: 58px;
  }

  .search-hotels__map-wrapper {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .search-hotels__text {
    padding-right: 371px;
    padding-left: 371px;
  }

  .search-hotels__button {
    margin-top: 47px;
    margin-bottom: 66px;
  }

  .search-hotels__map-wrapper {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
