.search-hotels {
  padding-bottom: 10px;
  background-color: #ffffff;
}

.search-hotels__text {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.search-hotels__slogan {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search-hotels__info {
  margin-top: 23px;
  margin-bottom: 0;
}

.search-hotels__info br {
  display: none;
}

.search-hotels__button {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 49px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.search-hotels__map-wrapper {
  padding: 0;
  min-height: 350px;
  background-color: lightgreen;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .search-hotels {
    padding-bottom: 0;
  }

  .search-hotels__text {
    padding-top: 54px;
    padding-right: 155px;
    padding-left: 155px;
  }
  
  .search-hotels__slogan {
    font-size: 30px;
    line-height: 36px;
  }

  .search-hotels__info {
    margin-top: 31px;
  }

  .search-hotels__info br {
    display: inline;
  }

  .search-hotels__button {
    margin-top: 42px;
    margin-bottom: 58px;
  }

  .search-hotels__map-image {
    width: 768px; /* временно */
  }
}

@media (min-width: @desktop-width) {
  .search-hotels__button {
    margin-top: 47px;
    margin-bottom: 66px;
  }

  .search-hotels__map-image {
    width: 1200px; /* временно */
  }
}
