.video {
  text-align: center;
}

.video__slogan {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.video__text {
  padding: 0 20px;
}

.video__image {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .video__text {
    padding: 0;
  }

  .video__image {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .video__image {
    width: 800px;
  }
}
